.container {
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.circular {
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}