.infoDescription {
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.descriptionContacts {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.infoDescription input {
   height: 10px;
}

.inputMUI {
    margin: 10px 0;
}