.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem {
    padding: 10px;
    color: white;
}

.dialogsItem .active {
    color: gold;
}

.messages {
    padding: 10px;
}

.messages .messages {
color: white;
}

.addMessage {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addMessage input {
    height: 15px;
}